<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Personnal_Management_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>org.PMS.servlet.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllEmployeeServlet</display-name>
    <servlet-name>QueryAllEmployeeServlet</servlet-name>
    <servlet-class>org.PMS.servlet.QueryAllEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllEmployeeServlet</servlet-name>
    <url-pattern>/QueryAllEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEmpInfomationServlet</display-name>
    <servlet-name>ShowEmpInfomationServlet</servlet-name>
    <servlet-class>org.PMS.servlet.ShowEmpInfomationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEmpInfomationServlet</servlet-name>
    <url-pattern>/ShowEmpInfomationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSubmitServlet</display-name>
    <servlet-name>UpdateSubmitServlet</servlet-name>
    <servlet-class>org.PMS.servlet.UpdateSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubmitServlet</servlet-name>
    <url-pattern>/UpdateSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.PMS.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJobTransferServlet</display-name>
    <servlet-name>AddJobTransferServlet</servlet-name>
    <servlet-class>org.PMS.servlet.AddJobTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobTransferServlet</servlet-name>
    <url-pattern>/AddJobTransferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllJobTransferServlet</display-name>
    <servlet-name>SelectAllJobTransferServlet</servlet-name>
    <servlet-class>org.PMS.servlet.SelectAllJobTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllJobTransferServlet</servlet-name>
    <url-pattern>/SelectAllJobTransferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUserServlet</display-name>
    <servlet-name>SaveUserServlet</servlet-name>
    <servlet-class>org.PMS.servlet.SaveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUserServlet</servlet-name>
    <url-pattern>/SaveUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoUpdateServlet</display-name>
    <servlet-name>GoUpdateServlet</servlet-name>
    <servlet-class>org.PMS.servlet.GoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoUpdateServlet</servlet-name>
    <url-pattern>/GoUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeServlet</display-name>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>org.PMS.servlet.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/DeleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>QueryEmployeeByEid</display-name>
    <servlet-name>QueryEmployeeByEid</servlet-name>
    <servlet-class>org.PMS.servlet.ShowEmpInfomationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryEmployeeByEid</servlet-name>
    <url-pattern>/QueryEmployeeByEid</url-pattern>
  </servlet-mapping>
  
</web-app>